<h1>Edit Review for <%=@review.makeup.name %></h1>
<hr>
<p><%= @error %></p>
<form action="/review/<%=@review.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label>Review Title</label>
    <input type="text" name="review[name]" value="<%= @review.makeup.name %>">
    <label>Comfort</label>
    <input type="text" name="review[rate]" >

    <label>Review</label>  
    <textarea name="review[review]" value="@makeup.review%>"></textarea>
    <label>Image URL</label>
    <input type="text" name="review[image] " value="<%= @review.makeup.image%>">
  <button type="submit">Edit Review</button> 
</form>
 
 
 <form action="/review/<%= @review.id%>" method="post"> 
     <input type="hidden" name="_method" value="delete">
      <button type="submit">Delete Review</button>
    </form>
 