<h1><i><%= @makeup.name%></i></h1>


<a href="/makeups/<%= @makeup.id%>/reviews/new">Leave a Review</a>

<img src="<%= @makeup.image %>" alt="makeup">
   

<h4><%= @makeup.price%></h4>
<h3><i><%= @makeup.model%></i></h3>



<p>Written Reviews:</p>


<% @makeup.reviews.each do |r|  %>
<hr>
<h5>Review Title: <%= r.name%></h5>
<h5>Comfort: <%= r.rate%></h5>
<h5><%= r.review%></h5>
<% if r.user_id == session[:user_id]%>
<a href="/makeups/<%=r.makeup_id%>/reviews/<%=r.id %>/edit">Edit Review</a>
<p><i>Posted by: <%=r.user.username%>
    <%end%>
<%end%>
